:root{
   --body-bg-color: #252525;
   --bulb-1: #ffdc896d;
}

*{
   box-sizing: border-box;
}
body{
   height: 100vh;;
   background-color: var(--body-bg-color);
   overflow: hidden;
   display: flex;
   justify-content: center;
}
.wire{
   position: absolute;
   top: 0;
   left: 50%;
   background-color: white;
   width: 2px;
   height: 85px;
}
.bulbs{
   position: relative;
   display: flex;
   justify-content: center;
   top: 20%;
}
.bulb{
   position: absolute;
}
.bulb-1{
   width: 5vw;
   height: 3.5vh;
   background-color: yellow;
   clip-path: polygon(5% 0%, 95% 0%, 100% 100%, 0% 100%);

   top: -50px;
   z-index: 2;
}
.bulb-2{
   width: 6.5vw;
   height: 8vh;
   background-color: var(--bulb-1);
   background: linear-gradient(90deg,  rgb(231, 124, 124)0%, rgba(231, 121, 121, 0.6)20%),  rgba(216, 216, 216, 0.4)80%;
   clip-path: polygon(15% 0%, 85% 0%, 100% 100%, 0% 100%);
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;

   top: -44.5px;
   z-index: 1;
}


.lights{
   position: relative;
   top: 20%;
   z-index: -1;

}



.on .light-1{
   border: none;
   width: 60vh;
   height: 70vh;
   background-color: var(--bulb-1);
   background: linear-gradient(180deg, rgba(255, 255, 255, .9)0%, rgba(255, 255, 255, .6)20%, rgba(255, 255, 255, .3)70%), rgba(255, 255, 255, 0)100%;
   clip-path: polygon(40% 0%, 60% 0%, 100% 100%, 0% 100%);
}
.on .light-2{
   height: 10vh;
   width: 60vh;
   border-radius: 100%;
   background-color: red;
   background: radial-gradient(rgba(255, 255, 255, .9)20%, rgba(255, 255, 255, .6)50%, rgba(255, 255, 255, .3)100%, rgba(255, 255, 255, 0));

   position: absolute;
   top: 65vh;
   z-index: 10;
}

button{
   width: 100px;
   height: 25px;
   font-size: 1em;
   text-transform: uppercase;
   padding: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 5px;
   left: 50%;
   transform: translateX(-50%);
}